<section id="contact">
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">About</h2>
        <hr />
    </div>
    <div class="container" align="center">
        <img src="~/giflogo2.gif" class="img-rounded" height="600" width="800">
        <h3 class="text-center text-uppercase text-secondary mb-0">Proyecto GIS</h3>
        <h4 class="text-center text-secondary mb-0">Integrantes: </h4>
        <ul style="display:table; margin:0 auto;">
            </br>
            <li>Alex Chacán</li>
            <li>Andres Chisaguano</li>
            <li>Joel Ludeña</li>
        </ul>
    </div>
</section>